@media screen and ( max-width: 1200px )
  .header, .header-about, .header-service, .header-hosting, .header-domain, .header-faq, .header-testimonials, .header-blog, .header-blog-post, .header-support
    & .nav 
      & .main-menu 
        & .first-level
          padding: 0 10px 
          & li
            & a 
              padding: 0
  .search-block
    & .search-block-wrap 
      flex-direction: column 
      & .block
        margin: auto
      & .title 
        text-align: center
      & .form 
        margin-top: 50px  
  .offer
    & .offer-wrap 
      flex-direction: column 
      & .block 
        margin: auto
        width: 50%
      & .right 
        margin-top: 50px 
        & .content
          & .content-wrap  
            flex-direction: column 
            justify-content: center
            align-items: normal
            & .box 
              margin-bottom: 20px 
  .register-modal
    & .register-block
      width: 50%
  .login-modal
    & .login-block
      width: 50%
  .faq-faqs
    &::before
      width: 100%
  .faq-questions
    & .faq-questions-form
      & form 
        & .input-wrap
          flex-direction: column 
          & .input 
            width: 100%
        & .input 
          width: 100%
  .support-faq
    & .support-faq-wrap
      flex-wrap: wrap
      & .block 
        width: calc(50% - 30px)
      & .block-forum 
        margin-top: 50px 
@media screen and ( max-width: 1110px )
  .about-offers
    & .about-offers-wrap
      flex-direction: column
      margin-top: 0 
      & .block
        margin: 30px auto 0  
        width: 100%
  .domain-register
    & .domain-form
      & form 
        flex-direction: column 
        align-items: normal
        & .select 
          margin-top: 30px
        & .btn 
          margin-top: 30px 
@media screen and ( max-width: 1080px )
  .about-team
    & .about-team-wrap
      & .block 
        width: calc(33.3% - 30px)
  .combo
    & .combo-wrap
      flex-direction: column 
      & .block 
        margin: auto
        padding: 0
      & .block:not(.icon)
        width: 100%
      & .left 
        border-right: none 
@media screen and ( max-width: 1020px )
  .search-block
    & .search-block-wrap 
      & .form 
        & form 
          flex-direction: column 
          & .select 
            margin-left: 0
            margin-top: 20px 
          & .btn 
            margin-left: 0
            margin-top: 20px  
  .hosting
    & .hosting-wrap
      margin-top: 0
      & .block 
        width: calc(50% - 30px)
        margin-top: 30px 
  .footer
    & .footer-wrap
      flex-direction: column 
      & .block 
        width: 100%
      & .logo 
        justify-content: center
      & .right 
        margin-top: 30px 
        justify-content: space-around
  .hosting-steps
    & .hosting-steps-wrap
      flex-wrap: wrap
      margin-top: 0
      & .block 
        width: calc(50% - 30px)
        margin-top: 30px 
  .hosting-column
    & .hosting-column-wrap
      margin-top: 0
      & .block 
        width: calc(50% - 30px)
        margin-top: 30px 
@media screen and ( max-width: 930px )
  .benefits
    & .benefits-wrap
      & .block 
        width: calc(50% - 30px)
  .about-details
    & .about-details-wrap
      flex-direction: column 
      & .block 
        width: 100%
  .testimonials-clients
    & .testimonials-clients-wrap
      & .block 
        width: calc(50% - 30px)
@media screen and ( max-width: 900px )
  .header, .header-about, .header-service, .header-hosting, .header-domain, .header-faq, .header-testimonials, .header-blog, .header-blog-post, .header-support
    & .nav 
      & .top-header
        flex-direction: row
        & .burger 
          display: flex 
          align-items: center
          justify-content: flex-end
          width: 30px 
          height: 20px
          position: relative 
          cursor: pointer
          z-index: 9999
          &.active span 
            display: none 
          &.active::before 
            transform: rotate(45deg)
          &.active::after 
            top: 0
            transform: rotate(-45deg)
          & span 
            background: #000000
            height: 3px 
            width: 20px 
            transition: .3s linear 
          &::before
            content: ''
            position: absolute
            width: 30px 
            height: 3px 
            background: #000000
            top: 0
            transition: .3s linear 
          &::after
            content: ''
            position: absolute
            width: 30px 
            height: 3px 
            background: #000000
            bottom: 0
            transition: .3s linear  
        & .first-level 
          position: fixed
          top: 0
          left: 0
          width: 100%
          height: 100%
          background: rgba(#121212,.9)
          z-index: 9998
          display: none 
          text-align: center
          padding-top: 30px 
          & li 
            & a 
              display: block
              margin: 25px 0 
              text-transform: uppercase
              color: #ffffff
              font-size: 13px 
              letter-spacing: 1.04px 
              +extra 
          &.show 
            display: block 
    & .about-header
      & .about-header-wrap
        flex-direction: column 
        & .block 
          margin: auto
          text-align: center
        & .img 
          margin-top: 30px 
    & .service-header
      & .service-header-wrap
        flex-direction: column 
        & .block 
          margin: auto
          text-align: center
        & .img 
          margin-top: 30px 
    & .hosting-header
      & .hosting-header-wrap
        flex-direction: column 
        & .block 
          margin: auto
          text-align: center
        & .img 
          margin-top: 30px 
    & .domain-header
      & .domain-header-wrap
        flex-direction: column 
        & .block 
          margin: auto
          text-align: center
        & .img 
          margin-top: 30px 
    & .faq-header
      & .faq-header-wrap
        flex-direction: column 
        & .block 
          margin: auto
          text-align: center
        & .img 
          margin-top: 30px 
    & .testimonials-header
      & .testimonials-header-wrap
        flex-direction: column 
        & .block 
          margin: auto
          text-align: center
        & .img 
          margin-top: 30px 
    & .blog-header
      & .blog-header-wrap
        flex-direction: column 
        & .block 
          margin: auto
          text-align: center
        & .img 
          margin-top: 30px 
    & .blog-post-header
      & .blog-post-header-wrap
        flex-direction: column 
        & .block 
          margin: auto
          text-align: center
        & .img 
          margin-top: 30px 
    & .support-header
      & .support-header-wrap
        flex-direction: column 
        & .block 
          margin: auto
          text-align: center
        & .img 
          margin-top: 30px 
  .newsletter
    & .newsletter-wrap
      flex-direction: column 
      align-items: normal
      & .block 
        margin: auto
        width: 100%
      & .form 
        margin-top: 30px 
  .footer
    & .footer-wrap
      & .right 
        & .box 
          width: 100%
        & .social 
          text-align: center
  .blog-post-comments
    & .blog-post-contents
      & .contents-first-level
        & li 
          & .contents-second-level
            margin-left: 0
            & li 
              &:first-of-type
                border: none 
  .blog-post-comment
    & .form 
      & form 
        & .form-wrap
          flex-direction: column 
          & .block 
            margin: auto
            width: 100%
            & .textarea
              margin-top: 10px 
        & .btn 
          justify-content: center
@media screen and ( max-width: 820px )
  .about-team
    & .about-team-wrap
      & .block 
        width: calc(50% - 30px)
  .services
    & .services-wrap
      & .block 
        width: calc(50% - 30px)
@media screen and ( max-width: 800px )
  .service-clients
    & .service-clients-slider
      & .slick-list 
        & .slick-track 
          & .service-clients-slider-block
            flex-direction: column 
            & .block:not(.img)
              margin-top: 30px 
              margin-left: 0
  .domain-register
    & .domain-other
      & .domain-other-wrap
        flex-direction: column 
        & .block 
          margin: auto
          width: 100%
        & .domain-other-slider
          margin-top: 30px  
  .faq-faqs
    & .faq-faqs-wrap
      flex-direction: column 
      & .block 
        width: 100%
@media screen and ( max-width: 770px )
  .offer
    & .offer-wrap 
      & .block 
        width: 100% 
@media screen and ( max-width: 700px )
  .benefits
    & .benefits-wrap
      & .block 
        width: 100%
  .footer
    & .footer-wrap
      & .right 
        flex-direction: column 
        & .box 
          text-align: center
        & .links 
          & .content-wrap 
            flex-direction: column 
        & .contact 
          margin-top: 30px 
        & .social 
          margin-top: 30px 
  .hosting-steps
    & .hosting-steps-wrap
      & .block 
        width: 100%
  .hosting-column
    & .hosting-column-wrap
      & .block 
        width: 100%
  #page-navi 
    justify-content: flex-start
    margin-top: 30px
    & li 
      margin-top: 0
      & a 
        margin-left: 0
        margin-right: 10px 
  .blog-post-author
    & .blog-post-author-wrap
      flex-direction: column 
      & .content 
        margin-left: 0
        margin-top: 30px 
  .support-search
    & .form 
      & form 
        flex-direction: column 
        & .input 
          width: 100%
          & input 
            border-right: 1px solid #d3e5eb
        & .btn 
          margin-top: 30px 
  .support-faq
    padding: 30px 0 100px 0 
    & .support-faq-wrap
      & .block 
        width: 100%
        margin-top: 50px
@media screen and ( max-width: 660px )
  .header, .header-about, .header-service, .header-hosting, .header-domain, .header-faq, .header-testimonials, .header-blog, .header-blog-post, .header-support
    & .nav 
      & .top-header 
        flex-direction: row
      & .main-menu 
        & .registration
          display: flex 
          align-items: center
          justify-content: center
          border-top: 1px solid #e1e9f2
          padding: 10px 0 
          & .support 
            display: flex 
            align-items: center
            border-right: 1px solid #e1e9f2
            padding-right: 10px 
            & h5 
              letter-spacing: .14px 
              color: #484e57
            & form 
              margin-left: 5px 
              width: 150px
              & input 
                color: #9ba4b0
                width: 100%
                &::placeholder 
                  color: #9ba4b0
          & .register
            margin-left: 10px
            padding-right: 10px 
            border-right: 1px solid #e1e9f2 
            & a 
              color: #9ba4b0
              letter-spacing: .14px 
              display: inline-block
          & .login 
            margin-left: 10px 
            & a 
              color: #9ba4b0
              letter-spacing: .14px  
              display: inline-block
    & .header-slider-wrap
      & .header-arrows-left
        display: none 
      & .header-arrows-right 
        display: none 
  .hosting
    & .hosting-wrap
      & .block 
        width: 100%
@media screen and ( max-width: 600px )
  .newsletter
    & .newsletter-wrap
      & .form 
        & form
          flex-direction: column 
          & .input 
            width: 100%
          & .btn 
            margin-top: 30px
  .register-modal
    & .register-block
      width: 95%
  .login-modal
    & .login-block
      width: 95% 
  .combo
    & .combo-wrap
      & .block 
        & .content 
          & .box 
            flex-direction: column 
            & .desc 
              margin-top: 30px 
              margin-left: 0
  .domain-register
    & .domain-form
      & form 
        flex-direction: column 
        align-items: normal
        & .input 
          width: 100% 
  .testimonials-clients
    & .testimonials-clients-wrap
      & .block 
        width: 100%
@media screen and ( max-width: 570px )
  .about-team
    & .about-team-wrap
      & .block 
        width: 100%
  .blog-post-comments
    & .blog-post-contents
      & .contents-first-level
        & li 
          & .block-wrap 
            flex-direction: column 
            & .icon 
              width: 118px 
              margin: auto
            & .content 
              margin-top: 50px 
              & .info-wrap
                align-items: center
@media screen and ( max-width: 540px )
  .about-offers
    & .about-offers-wrap
      & .block
        flex-direction: column 
        & .box 
          margin: auto
          width: 100%
        & .img 
          margin-bottom: 10px 
  .services
    & .services-wrap
      & .block 
        width: 100%
  .domain-offers
    & .domain-offers-wrap
      flex-wrap: wrap
      & .block 
        width: 100%
@media screen and ( max-width: 480px )
  .search-block
    & .search-block-wrap 
      & .form 
        width: 100%
        & form 
          & .input 
            width: 100%
  .blog-pagination
    & .pagination
      & .contents 
        & .pagination-block
          & .block 
            & .block-content 
              & .info-social-wrap
                flex-direction: column 
                align-items: flex-start
                & .info-block 
                  & .social 
                    margin-left: 0
                & .comments
                  border-right: none 
                & .like 
                  border-right: none 
                  margin-left: 0
                  margin-top: 10px 
                & .share 
                  margin-left: 0
                  margin-top: 10px 
  .blog-post-pagination
    & .pagination
      & .contents 
        & .pagination-block
          & .block 
            & .block-content 
              & .info-social-wrap
                flex-direction: column 
                align-items: flex-start
                & .info-block 
                  & .social 
                    margin-left: 0
                & .comments
                  border-right: none 
                & .like 
                  border-right: none 
                  margin-left: 0
                  margin-top: 10px 
                & .share 
                  margin-left: 0
                  margin-top: 10px 
@media screen and ( max-width: 420px )
  .offer
    & .offer-wrap 
      & .left 
        & .content
          & .content-wrap
            align-items: normal
            flex-wrap: wrap
            justify-content: center
            & .off 
              margin: 0 15px 
            & .each 
              text-align: center 
@media screen and ( max-width: 400px )
  .header, .header-about, .header-service, .header-hosting, .header-domain, .header-faq, .header-testimonials, .header-blog, .header-blog-post, .header-support
    & .nav 
      & .main-menu
        & .registration 
          flex-direction: column 
          & .support 
            border: none 
          & .register 
            border: none 
            margin-top: 10px 
          & .login 
            margin-top: 10px 
  .faq-faqs
    & .faq-faqs-wrap
      & .block 
        flex-direction: column 
        & .icon 
          width: 67px 
        & .content 
          margin-left: 0
    & .btn 
      & button 
        width: 100%
  .support-search
    & .form 
      & form 
        & .input 
          & input 
            padding-left: 10px 
          & .fas 
            display: none 
@media screen and ( max-width: 350px )
  .header-testimonials
    & .testimonials-header
      & .testimonials-header-wrap
        & .block 
          & h4 
            font-size: 35px 
